name: Android CI

on:
    push:
        branches: [master, main]
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up JDK 17
              uses: actions/setup-java@v4
              with:
                distribution: temurin
                java-version: 17
                cache: gradle

            - name: Grant execute permission for gradlew
              run: chmod +x gradlew

            - name: Build, Line, and Test
              run: ./gradlew assembleDebug lint testDebugUnitTest --no-daemon --stacktrace
              env:
                GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx3g"

